<!DOCTYPE html>
<html lang="en">
<head>
  <title>Charity Funding using Blockchain</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Charity Funding using Blockchain</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/needers">Create Funding</a></li>
      <li><a href="/campaigns">Funding Campaigns</a></li>
    </ul>
  </div>
</nav>

<div class="container">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2>Verify Needy</h2>
            <form action="/verifyNeedy" method="POST">
                <div class="form-group">
                    <label for="name">Enter needy's phonepe:</label>
                    <input type="text" class="form-control" id="phonepe" placeholder="Enter needy's phonepe" name="phonepe">
                </div>
                <input type="submit" value="Verify" />
            </form>
        </div>
        <div class="col-md-3"></div>
</div> <br/><br/>
{%if result is defined%}
<div class="container">
    <div class="table-responsive-sm">
        <table class="table table-bordered">
            <tr>
                <th>Name</th>
                <th>Place</th>
                <th>Wallet Address</th>
                <th>PhonePe</th>
                <th>Payment Link</th>
            </tr>
            {%for i in range(0, len)%}
            <tr>
                <td>{{result[i][0]}}</td>
                <td>{{result[i][1]}}</td>
                <td>{{result[i][2]}}</td>
                <td>{{result[i][3]}}</td>
                {%if result[i][0]=="NA"%}
                <td>NA</td>
                
                {%else%}
                <td><a href="https://rzp.io/l/Jl6vXLsrLa" target="_blank">Click Here</a></td>
                {%endif%}

            </tr>
            {%endfor%}
        </table>
        </div>
</div>
{% endif %}
</body>
</html>